<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

<h1>Add your Villa to our Listing </h1>
<!-- <p>Find me in app/views/villas/new.html.erb</p> -->

<%= simple_form_for @villa do |f| %>

  <%= f.input :title, :hint => "A few words to describe best your villa" %>
  <%= f.input :price, :hint => "Prices should be in bitcoin" %>
  <%= f.input :city %>
  <%= f.input :description, :hint => "Long description for your villa: bedroom, bathroom..." %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <div class = "text-center">
  <%= f.button :submit ,class: "btn btn-primary" %>
  </div>

  <!-- Add picture module for villa -->

  <% end %>

     </div>
  </div>
</div>
