<h1>Villas#new</h1>
<p>Find me in app/views/villas/new.html.erb</p>

<%= simple_form_for @villa do |f| %>

  <%= f.input :title, :hint => "A few words to describe best your villa" %>
  <%= f.input :price, :hint => "Prices should be in bitcoin" %>
  <%= f.input :city %>
  <%= f.input :description, :hint => "Long description for your villa: bedroom, bathroom..." %>
  <%= f.button :submit %>

  <!-- Add picture module for villa -->

  <% end %>
