<h1>Visit Our Great Villa in <%=@villa.city  %></h1>

<h2><%= @villa.title %></h2>

<h3> <%= @villa.description %></h3>

<h4> <%= @villa.price %> per night</h4>

<%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill %>

<%= link_to "Back", villas_path %>

<%= link_to "Edit", edit_villa_path(@villa) %>


<%= link_to "Delete Your Villa from Listing", villa_path(@villa),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to "Request to Book", villa_booking_path(@villa) %>





