<div class="container">
  <div class="text-center">


<h1>Rent this amazing Villa in <%=@villa.city  %></h1>

<h1><%= @villa.title %></h1>

<h2> <%= @villa.description %></h2>


    <h3> <%= @villa.price %> per night</h3>

    <div class="text-center">
      <%= cl_image_tag @villa.picture, height: 300, width: 400, crop: :fill %>
    </div>

    <%= link_to "Back", villas_path, class: "btn btn-primary"%>
    <%= link_to "Edit", edit_villa_path(@villa), class: "btn btn-info" %>


    <%= link_to "Delete Your Villa from Listing", villa_path(@villa),
    method: :delete,
    data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>


<%= link_to "Request to Book", new_villa_booking_path(@villa), class: "btn btn-success" %>
</div>





</div>
<div class="container">
  <div class='col-md-5 text-center col-md-offset-3'>
<%= simple_form_for [@villa, @booking] do |f| %>
      <div class='input-group date' id='datetimepicker6'>

<%= f.input :start_date, as: :string, id: 'datetimepicker6' %>
    </div>

      <div class='input-group date' id='datetimepicker7'>
<%= f.input :end_date, as: :string, id: 'datetimepicker7' %>
    </div>

<%= f.button :submit,  class: "btn btn-success" %>
<% end  %>
    </div>
    </div>

<!-- <div class="container">π
  <div class='col-md-5'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker6'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker7'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div> -->
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function () {
$('#booking_start_date').datetimepicker({
  format:"YYYY-mm-DD"
});
$('#booking_end_date').datetimepicker({
  format:"YYYY-mm-DD"
});

});
<% end %>
<% end %>

